# Ignore all images + models in Graph2Table_Part_1
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/dataset.zip
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/dataset_part1
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/dataset_part1_fixed
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/dataset_part1_resized
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/dataset_part1_split
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/test images
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/*.h5


# Ignore all images + model in Graph2Table_Part_1/Pipeline
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/Pipeline/dataset_part1
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/Pipeline/dataset_part1_fixed
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/Pipeline/dataset_part1_resized
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/Pipeline/dataset_part1_split
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/Pipeline/test images
/solo_projects/Graph2Table_Challenge/Graph2Table_Part_1/Pipeline/*.h5
